@font-face {
  font-family: 'Nexa';
  src: url(../assets/fonts/custom/Nexa-Light.otf);
}

@font-face {
  font-family: 'NexaBold';
  src: url(../assets/fonts/custom/Nexa-Bold.otf);
}

hr {
  margin-top: 2px;
  margin-bottom: 10px;
  border: 0;
  border-top: 2px solid #000;
}

.fontNexa {
  font-family: 'Nexa';
}

.fontNexaBold {
  font-family: 'NexaBold';
}


