@font-face {
  font-family: "Nexa";
  src: url(../../assets/fonts/custom/Nexa-Light.otf);
}
@font-face {
  font-family: "NexaBold";
  src: url(../../assets/fonts/custom/Nexa-Bold.otf);
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  text-align: center;
  margin-top: 2%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#card-agregar-organismo{
  background-color: #f8f9fa;
}

.font-organismos-cargados{
  font-family: "NexaBold";
  font-size: 2em;
}

.list-group{
  background-color: #f8f9fa;
}

.activa{
  background-color: #00800026;
}
.no-activa{
  background-color: white;
}