@charset "utf-8";
/* CSS Document */
body {
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
body {
    color: #333333;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    background-attachment: fixed;
    background-position: center;
    background-position: top;
    width: 100%;
}
.titulos_pie {
    color: white;
    font-size: 1em;
}
.row {
    margin-right: 0px;
    margin-left: -15px;
}
#footerwrap {
    background: #2b2b2b;
    padding-top: 40px;
	padding-bottom: 40px;
	color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
#footerwrap a {
    color: white;
}
a:active {
color : #000000;
text-decoration : none;
}
a:link {
color : #000000;
text-decoration : none;
}
a:visited {
color : #000000;
text-decoration : none;
}
a:hover {
color:#333;
text-decoration : none;
}

h8 {
    font-size: 16px;
    font-weight: bold;
    color: #799f4f;
    margin-top: 3px;
    margin-bottom: 3px;
}
h1, h2, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFF;
    margin-bottom: 5px;
    margin-top: 5px;
}
h3 {
    color: #00A8E1;
    font-weight: bold;
	padding-left:0px;
}
h4 {
    color: #00A8E1;
    font-weight: bold;
	font-size:1.3em;
}
h5 {
    font-size: 1em;
    color: #333;
    margin-top: 0px;
    margin-bottom: 0px;
}
#main-menu {
		position:relative;
		z-index:9999;
		width:24em;
	}
	#main-menu ul {
		width:24em;
	}
	.navbar-inverse-ga {
			background-color: #799f4f;
			border-color: #799f4f;
				}
			.navbar-inverse-ga .navbar-nav-ga > li > a {
				color: #FFF;
			}
			.navbar-nav-ga > li > a {
				padding-top: 10px;
				padding-bottom: 10px;
				line-height: 20px;
			}
			.nav-ga > li > a {
				position: relative;
				display: block;
				padding: 10px 15px;
			}
			.navbar-ga {
				border-radius: 0px;
				position: relative;
				min-height: 0px;
				margin-bottom: 0px;
				border: 1px solid transparent;
			}
			.navbar-collapse-ga {
				padding-top: 10px;}
			.navbar-nav > li > a {
				padding-top: 10px;
				padding-bottom: 10px;
				line-height: 20px;
				color: #FFF;
				background-color:transparent;
				}
			.navbar-nav > li > a:hover,
			.navbar-nav > li > a:focus {
				color: #CCCccc;
				background-color:transparent;
			}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0%;
    height: 2px;
    background: #FFF;
}
#pie {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #ddd;
    border-top: 0px solid #ddd;
    text-align: center;
    font-size: 11px;
    color: #ffffff;
}
#pie {
	background: #799f4f;
	height: 40px;
}
.texto_pie {
    font-size: 12px;
    color: #fff;
}


/* Outermost menu container has borders on all sides */
ul.MenuBarVertical
{
	border: 0px solid #fff;
	border-bottom: 0px dotted #ccc;
	padding-left:0px;
}
/* Submenu containers have borders on all sides */
ul.MenuBarVertical ul
{
	border: 0px solid #fff;
	border-bottom: 0px dotted #ccc;
}
/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarVertical a
{
	display: block;
	cursor: pointer;
	padding: 0.5em 0em;
	text-decoration: none;
	background-image:url(../../portal/imagenes/fondomenuizq.png);
}
/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarVertical a:hover
{
	background-color: #e6edf7;
	color: #000;
	background-image:url(../../portal/imagenes/fondomenuizq.png);
}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarVertical a.MenuBarItemHover, ul.MenuBarVertical a.MenuBarItemSubmenuHover, ul.MenuBarVertical a.MenuBarSubmenuVisible
{
	background-color: #e6edf7;
	color: #000;

}



/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarVertical a.MenuBarItemSubmenu
{
	background-image: url(SpryMenuBarRight.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarVertical a.MenuBarItemSubmenuHover
{
	background-image: url(SpryMenuBarRightHover.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

/*******************************************************************************

 BROWSER HACKS: the hacks below should not be changed unless you are an expert

 *******************************************************************************/

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarVertical iframe
{
	position: absolute;
	z-index: 1010;
	filter:alpha(opacity:0.1);
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarVertical li.MenuBarItemIE
	{
		display: inline;
		float: left;
		background: #FFF;
	}
}




ul.MenuBarVertical li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 100%;
    position: relative;
    text-align: left;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-image: url(../../portal/imagenes/fondomenuizq.png);
}
