@font-face {
  font-family: "Nexa";
  src: url(../../assets/fonts/custom/Nexa-Light.otf);
}
@font-face {
  font-family: "NexaBold";
  src: url(../../assets/fonts/custom/Nexa-Bold.otf);
}
.body {
  font-family: "Open Sans", sans-serif;
}

.font-nexa {
  font-family: "NexaBold";
}
.font-nexa-light {
  font-family: "Nexa";
}

.font-frente {
  font-family: "NexaBold";
  color: #03a7e0;
  text-align: center;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 200px;
  height: 200px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-color: #dfe0e1;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: #fafafa;
}

#grid-card {
  width: 100%;

  height: 175px;

  -webkit-box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.25);

  transition: 0.5s;

}

#grid-card:hover {
  cursor: pointer;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.2);

  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

}
#acordion-despapelizacion:hover {
  cursor: pointer;
}

.collapsed[aria-expanded="false"] > .row > .col-sm-1 > .fa.fa-chevron-up {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.color-1 {
  background-color: #e8117f;
}
.color-2 {
  background-color: #31b0d5;
}
.color-3 {
  background-color: #94ef23;
}
.color-4 {
  background-color: #ffa602;
}

.font-modal {
  color: rgb(117, 116, 116);
  /* text-align: justify; */
  font-size: 1em;
}
.font-modal-title {
  font-family: "NexaBold";
  color: #03a7e0;
  font-size: 1.5em;
}
#main-card {
  background-color: #e9ecef;
}

.boton-sumate {
  background-color: #03a7e0;
  border-color: #03a7e0;
}
.boton-ver-compromisos {
  background-color: #4aa8dd;
}

.font-main-card {
  color: #03a7e0;
  /* text-align: justify; */
  font-size: 1.2em;
  margin-top: 2%;
}

.font-card {
  font-family: "NexaBold";
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.font-acordion {
  color: rgb(117, 116, 116);

  font-size: 1rem;
  font-weight: 900;
  /* font-style: italic; */

}
.font-acordion-body {
  color: rgb(117, 116, 116);
  font-size: 0.9rem;
  /* text-align: justify; */
}

.acordion-aclaracion {
  border: black;
  background-color: #2e5f46;
  color: white;
  padding: 10px;
}
.btn-link {
  text-decoration: none;
}

#tarjeta-verde {
  background-color: #2e5f46;
}

.img-despa {
  height: 200px;
  margin-top: 15%;
}

.font-title-tarjeta-verde {
  font-family: "NexaBold";
  color: #ffffff;
  font-size: 1.7em;
}

.font-list-tarjeta-verde {
  color: #ffffff;
  font-size: 1.2em;
}

.gree-card-texto {
  color: #ffffff;
  font-size: 1.2em;
  text-align: right;
}

.font-title-organismos {
  font-family: "Nexa";
  color: #03a7e0;
  text-align: center;
  font-size: 2.5em;
}

.font-boton-main-card {
  font-family: "NexaBold";
  font-size: 1.2em;
  color: white;
}
.font-boton-sumate {
  font-family: "NexaBold";
  font-size: 1.7em;
  color: white;
}

.boton-otros-manual {
  background-color: #a3cf62;
  border-color: #a3cf62;
}

.boton-otros-votacion {
  background-color: #f15d36;
  border-color: #f15d36;
}

.font-boton-otros {
  font-family: "NexaBold";
  font-size: 1.2em;
  color: white;
  width: 100%;
}

.centrado-vertical {
  align-items: center;
  justify-content: center;
}

.titulo-practicas {
  font-family: "NexaBold";
  font-size: 1.5em;
  color: #78ab4c;
}

.botones-slider {
  /* margin-left: 3%; */
}
/* estilos para las cards */

.card-organismo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  min-height: 620px;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* transition: 0.5s; */
  transition: all .2s ease-in-out;
}
.card-organismo:hover {
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.4);
  /* -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); */
}
.card-organismo .box {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}
.card-organismo .box .img {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
}
.card-organismo .box .img img {
  width: 100%;
  height: 100%;
}
.card-organismo .box h2 {
  font-size: 1.5em;
  color: #262626;
  margin: 22px auto;
  font-family: "NexaBold";
}
.cuit {
  font-size: 20px;
  color: #262626;
}
.card-organismo .box h2 span {
  font-size: 14px;
  background: #799f4f;
  color: #fff;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 15px;
}
.card-organismo .box p {
  color: #262626;
}
.card-organismo .box span {
  display: inline-flex;
}
.card-organismo .box ul {
  margin: 0;
  padding: 0;
}
.card-organismo .box ul li {
  list-style: none;
  float: left;
}
.card-organismo .box ul li a {
  display: block;
  color: #aaa;
  margin: 0 10px;
  font-size: 20px;
  transition: 0.5s;
  text-align: center;
}
.card-organismo .box ul li:hover a {
  color: #799f4f;
  transform: rotateY(360deg);
}

.institucion-apadrina{
  font-size: 1em;
  color: #799f4f;
  font-family: 'Nexa';
}

.img-header {
  height: 315px;
  width: 100%;
}

.img-header-mobile {
  display: none;
}

.barra-nav {

  background-color: #4aa8dd;
  height: 35px;

  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);

}
.font-navbar {
  font-family: "NexaBold";
  color: white;
}
.font-selected {
  color: black;
}

.font-modal-adhesion {
  font-family: "Nexa";
  font-size: 1em;
}

.boton-adherirse {
  background-color: #03a7e0;
  border-color: #03a7e0;
  font-family: "NexaBold";
  color: white;
}
.boton-cancelar {
  font-family: "NexaBold";
  color: white;
}

/*botón up*/
.boton-sumate-flotante {
  display: none;
  background: #03a7e0;
  border: thin solid #fff;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 999999999;
  font-family: "NexaBold";
  font-size: 1.3em;
  text-align: center;
  width: 100px;

  color: white;

  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.45);
}
/*evento hover*/
.boton-sumate-flotante:hover {
}
/*estilos para el tag i*/
.boton-sumate-flotante i {
  color: #fff;
  font-size: 2.2em;
  padding: 3px 7px 7px 6px;
}

.boton-subir {
  display: none;
  /* background: #00A8E1; */
  /* border: thin solid #fff; */
  /* border-radius: 30px; */
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 999999999;
  /* -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45); */
  /* -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45); */
  /* box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45); */
}

.boton-subir i {
  color: #000;
  font-size: 2.2em;
  padding: 5px 10px 7px 8px;
}

.header-despapelizacion {
  margin-top: 30px;
}




.card-organismo-2 {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    /* transition: 0.5s; */
    transition: all .2s ease-in-out;
}
.card-organismo-2:hover {
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.font-title-card{
  font-family: 'NexaBold';
  font-size: 1.2em;
}


@media (max-width: 600px) {
  .img-header {
    display: none;
  }
  .img-despa {
    display: none;
  }
  .img-header-mobile {
    display: inline;
    height: 100px;
  }

  .barra-nav {
    display: none;
  }

  .header-despapelizacion {
    margin-top: 0;
  }

  .font-boton-otros {
    font-size: 1em;
  }
}

@media (max-width: 1000px) {

  .barra-nav {
    display: none;
  }

  .header-despapelizacion {
    margin-top: 0;
  }

}

@media (min-width: 1500px) {

  .img-header{
    height: 450px;
  }

}
