@charset "utf-8";
/* CSS Document */

.enca-organismo{
/* max-height: 195px; */
}

#cssmenu {
  position: relative;
  height: 35px;
  background: #799f4f;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu > ul {
  position: relative;
  display: block;
  background: #799f4f;
  height: 32px;
  width: 100%;
  z-index: 500;
}



#cssmenu > ul > li {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > #menu-button {
  display: none;
}
#cssmenu ul li a {
  display: block;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  font-size: 14px;
  font-weight:normal;
  padding: 10px 10px;
  color: #FFF;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 32px;
}
#cssmenu > ul > li:hover > a {
  color: #EBEBEB;
}
#cssmenu li.has-sub::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu > ul > li.has-sub::after {
  right: 10px;
  top: 20px;
  border: 5px solid transparent;
  border-top-color: #fff;
}
#cssmenu > ul > li:hover::after {
  border-top-color: #cccccc;
}

/*************menu azul para copnaf********************/
#cssmenu_azul {
  position: relative;
  height: 30px;
  background: #1b86c7;
  width: auto;
}
#cssmenu_azul ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu_azul > ul {
  position: relative;
  display: block;
  background: #1b86c7;
  height: 32px;
  width: 100%;
  z-index: 500;
}



#cssmenu_azul > ul > li {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu_azul > ul > #menu-button {
  display: none;
}
#cssmenu_azul ul li a {
  display: block;
  text-decoration: none;
}
#cssmenu_azul > ul > li > a {
  font-size: 1.6em;
  font-weight:normal;
  padding: 10px 10px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#cssmenu_azul > ul > li.has-sub > a {
  padding-right: 32px;
}
#cssmenu_azul > ul > li:hover > a {
  color: #000000;
}
#cssmenu_azul li.has-sub::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu_azul > ul > li.has-sub::after {
  right: 10px;
  top: 20px;
  border: 5px solid transparent;
  border-top-color: #ffffff;
}
#cssmenu_azul > ul > li:hover::after {
  border-top-color: #cccccc;
}


/*************menu azul para yacares********************/
#cssmenu_verde {
  position: relative;
  height: 30px;
  background: #0b663d;
  width: auto;
}
#cssmenu_verde ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu_verde > ul {
  position: relative;
  display: block;
  background: #0b663d;
  height: 32px;
  width: 100%;
  z-index: 500;
}



#cssmenu_verde > ul > li {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu_verde > ul > #menu-button {
  display: none;
}
#cssmenu_verde ul li a {
  display: block;
  text-decoration: none;
}
#cssmenu_verde > ul > li > a {
  font-size: 14px;
  font-weight:normal;
  padding: 10px 10px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#cssmenu_verde > ul > li.has-sub > a {
  padding-right: 32px;
}
#cssmenu_verde > ul > li:hover > a {
  color: #000000;
}
#cssmenu_verde li.has-sub::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu_verde > ul > li.has-sub::after {
  right: 10px;
  top: 20px;
  border: 5px solid transparent;
  border-top-color: #ffffff;
}
#cssmenu_verde > ul > li:hover::after {
  border-top-color: #cccccc;
}


/******************************************************/


/******************************************************/



#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  z-index: -1;
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}
#cssmenu ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu > ul > li:hover > ul {
  left: auto;
  top: 44px;
  opacity: 1;
}
#cssmenu ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
#cssmenu ul ul li a {
	/* ACA MODIFICAR EL SUBMENU*/
  width: auto;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  font-size: 15px;
  color: # fff;
  background: #799f4f;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#cssmenu ul ul li:hover > a {
  background: #f6f6f6;
  color: #8c9195;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
  border-bottom: 0;
}


/*********************menu azul para copnaf*****************/
#cssmenu_azul ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}
#cssmenu_azul ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#cssmenu_azul ul ul li {
  position: relative;
}
#cssmenu_azul > ul > li:hover > ul {
  left: auto;
  top: 44px;
  opacity: 1;
}
#cssmenu_azul ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
#cssmenu_azul ul ul li a {
	/* ACA MODIFICAR EL SUBMENU*/
  width: auto;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  font-size: 15px;
  color: #ffffff;
  background: #1b86c7;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#cssmenu_azul ul ul li:hover > a {
  background: #f6f6f6;
  color: #8c9195;
}
#cssmenu_azul ul ul li:last-child > a,
#cssmenu_azul ul ul li.last > a {
  border-bottom: 0;
}

/***********************************************************/
.submenuArrow {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #FFF;
  position: absolute;
  top: -12px;
}

#cssmenu ul ul li.has-sub::after {
  border: 4px solid transparent;
  border-left-color: #9ea2a5;
  right: 10px;
  top: 12px;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu ul ul li.has-sub:hover::after {
  border-left-color: #fff;
  right: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: auto;
  }
  #cssmenu ul {
    width: auto;
  }
  #cssmenu .submenuArrow,
  #cssmenu #indicatorContainer {
    display: none;
  }
  #cssmenu > ul {
    height: auto;
    display: block;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu li,
  #cssmenu > ul > li {
    display: none;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu ul > li:hover > ul,
  #cssmenu ul ul > li:hover > ul {
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    padding-left: 0;
  }
  #cssmenu ul .has-sub::after {
    display: none;
  }
  #cssmenu ul li a {
    padding: 12px 20px;
  }
  #cssmenu ul ul li a {
    border: 0;
    background: none;
    width: auto;
    padding: 8px 35px;
  }
  #cssmenu ul ul li:hover > a {
    background: none;
    color: #8c9195;
  }
  #cssmenu ul ul ul a {
    padding: 8px 50px;
  }
  #cssmenu ul ul ul ul a {
    padding: 8px 65px;
  }
  #cssmenu ul ul ul ul ul a {
    padding: 8px 80px;
  }
  #cssmenu ul ul ul ul ul ul a {
    padding: 8px 95px;
  }
  #cssmenu > ul > #menu-button {
    display: block;
    cursor: pointer;
  }
  #cssmenu #menu-button > a {
    padding: 14px 20px;
  }
  #cssmenu ul.open li,
  #cssmenu > ul.open > li {
    display: block;
  }
  #cssmenu > ul.open > li#menu-button > a {
    color: #fff;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid # FFF;
    border-bottom: 2px solid #fff;
    right: 20px;
    top: 15px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #fff;
    right: 20px;
    top: 25px;
  }
  #cssmenu ul.open #menu-button::after,
  #cssmenu ul.open #menu-button::before {
    border-color: #fff;
  }
}


/**********menu azul para copnaf************/

#cssmenu_azul ul ul li.has-sub::after {
  border: 4px solid transparent;
  border-left-color: #9ea2a5;
  right: 10px;
  top: 12px;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu_azul ul ul li.has-sub:hover::after {
  border-left-color: #fff;
  right: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu_azul {
    width: auto;
  }
  #cssmenu_azul ul {
    width: auto;
  }
  #cssmenu_azul .submenuArrow,
  #cssmenu_azul #indicatorContainer {
    display: none;
  }
  #cssmenu_azul > ul {
    height: auto;
    display: block;
  }
  #cssmenu_azul > ul > li {
    float: none;
  }
  #cssmenu_azul li,
  #cssmenu_azul > ul > li {
    display: none;
  }
  #cssmenu_azul ul ul,
  #cssmenu_azul ul ul ul,
  #cssmenu_azul ul > li:hover > ul,
  #cssmenu_azul ul ul > li:hover > ul {
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    padding-left: 0;
  }
  #cssmenu_azul ul .has-sub::after {
    display: none;
  }
  #cssmenu_azul ul li a {
    padding: 12px 20px;
  }
  #cssmenu_azul ul ul li a {
    border: 0;
    background: none;
    width: auto;
    padding: 8px 35px;
  }
  #cssmenu_azul ul ul li:hover > a {
    background: none;
    color: #8c9195;
  }
  #cssmenu_azul ul ul ul a {
    padding: 8px 50px;
  }
  #cssmenu_azul ul ul ul ul a {
    padding: 8px 65px;
  }
  #cssmenu_azul ul ul ul ul ul a {
    padding: 8px 80px;
  }
  #cssmenu_azul ul ul ul ul ul ul a {
    padding: 8px 95px;
  }
  #cssmenu_azul > ul > #menu-button {
    display: block;
    cursor: pointer;
  }
  #cssmenu_azul #menu-button > a {
    padding: 14px 20px;
  }
  #cssmenu_azul ul.open li,
  #cssmenu_azul > ul.open > li {
    display: block;
  }
  #cssmenu_azul > ul.open > li#menu-button > a {
    color: #fff;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  }
  #cssmenu_azul #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    right: 20px;
    top: 15px;
  }
  #cssmenu_azul #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    right: 20px;
    top: 25px;
  }
  #cssmenu_azul ul.open #menu-button::after,
  #cssmenu_azul ul.open #menu-button::before {
    border-color: #fff;
  }
}


/*******************************************/
