[v-cloak] {
  display: none;
}

@font-face {
  font-family: "Nexa";
  src: url(../../assets/fonts/custom/Nexa-Light.otf);
}
@font-face {
  font-family: "NexaBold";
  src: url(../../assets/fonts/custom/Nexa-Bold.otf);
}

.img-header {
  height: 315px;
  width: 100%;
}

.img-header-mobile {
  display: none;
}

.font-title-organismos {
  font-family: "Nexa";
  color: #03a7e0;
  text-align: center;
  font-size: 2.5em;
}

/* css cards */

.flip {
  -webkit-perspective: 800;
  perspective: 800;
  position: relative;
  text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 178px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  background-color: #1db0e33b;

  -webkit-box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.25);
}
.flip .card:hover {
  cursor: pointer;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.2);
}
.flip .card .face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  width: 100%;
  height: 175px;
  z-index: 1;
  background-color: white;
}

.flip .card .back {
  /* padding-top: 10%; */
  width: 100%;
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
  position: absolute;
}
.inner {
  width:100%;
  height: 178px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  
}
.inner-tick {
  margin-top:70px;
  width: 100%;
  text-align: center;
}

.img-card-front{
  position: relative;
  width: 100%;
  height: 178px;
  z-index: 1;
}

.font-intitucion{

  color:white;
  font-family: "NexaBold";
  font-size: 1.5em;
  margin: auto auto;

}

.boton-seguir {
  background-color: #03a7e0;
  border-color: #03a7e0;

  font-family: "NexaBold";
  font-size: 1.7em;
  color: white;
  
  margin-bottom: 80px;
  margin-top: 80px;
}

.grafico{
  position: relative; 
  /* height:40vh;  */
  width:90vw;
}


.titulo-organismo-ganador{
  font-family: "NexaBold";
  font-size: 2em;
  text-align: center;
}

.card-organismo-ganador {
 
  -webkit-box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 9px 22px -8px rgba(0, 0, 0, 0.25);

  transition: all .3s ease-in-out;

}

.card-organismo-ganador:hover {

  cursor: pointer;
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.4);

  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

}
.card-title-ganador {
  font-family: "NexaBold";
  font-size: 1.5em;
}

.font-descripcion{
  
  font-family: "Nexa";
  font-size:1.2em;

  text-align: center;

}

.container-votacion{
  background: url('../../img/fondo_votacion.png') no-repeat right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 400px;
}

@media (max-width: 600px) {
  .img-header {
    display: none;
  }
  .img-despa {
    display: none;
  }
  .img-header-mobile {
    display: inline;
    height: 100px;
  }

  .barra-nav {
    display: none;
  }

  .header-despapelizacion {
    margin-top: 0;
  }

  .font-boton-otros {
    font-size: 1em;
  }

  .boton-seguir {
    margin-top: 0;
  }
  
}

@media (max-width: 1000px) {
  .barra-nav {
    display: none;
  }

  .header-despapelizacion {
    margin-top: 0;
  }
}

@media (min-width: 1500px) {
  .img-header {
    height: 450px;
  }
}
